.pagination {
    margin-bottom: 10px;
}
.ant-list-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.games__settings {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.games__filters, .games__pagination {
    display: flex;
    flex-direction: column;
}
.games__pagination {
    align-items: flex-end;
}
.games__filters {
    align-items: flex-start;
}
.filter-select {
    min-width: 200px;
    margin-bottom: 10px;
}
