li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  height: 100%;
  padding: 0 20px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 930px;
    padding: 0 15px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 690px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 520px;
    padding: 0 10px;
  }
}

